.btn-editar{
  background-color: #67b3ff;
  color: white;
}

.btn-eliminar{
  background-color: #ec5e5e;
  color: white;
}

a.btn.btn-inicio{
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  margin-right: 10px;
}